.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 270px;
    gap: 27px;
}

.card {
    padding: 16px;
    border-radius: 3px;
    background-color: gray;
    color: black;
}

.card img {
    width: 100%;
    height: 150px;
}