div#root {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: relative;
}
.tree-menu-container {
    background: darkslateblue;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 30px 10px;
}

ul.menu-list-container {
    list-style: none;
    /* padding: 0; */
    padding-left: 20px;
    margin: 0;
    text-align: left;
}
.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
}
.collapse {
    cursor: pointer;
}